body{
    text-align:center;
    background-color: #47B5FF;
}

nav{
background-color: #000
}

.nav-link{
    background-color: #000
}
form{
    padding-top: 4%;
}

#stats{
    padding: 2% 10%;
    font-family: 'PT Serif', serif;
}

.stats-window{
    background-color: #fff;
}

#list{
    text-align: left;
    padding: 2% 10%;
    font-family: 'PT Serif', serif;
}

ul{
    padding-bottom: 2px;
    border-radius: 0;
}
li{
    background-color: #DFF6FF;
    border: 0;
    border-radius: 0;
}

.title-artist{
    width:60%;
}
.stats{
    width:20%;
    text-align:center;
    font-size: .8rem;
    font-family: 'Open Sans', sans-serif;"
}
